.container {
  position: relative;
  margin: 0 auto;
  max-width: 30rem;
  border: 1px solid #333;
  border-radius: 4px;
  transition: all .23s ease-in;
}

.container .header {
  padding: 8px;
  margin: 0px;
  text-align: center;
  background: orangered;
  border-bottom: 1px solid #333;
}

.container p {
  text-align: left;
  padding: 1.5rem;
}

.button {
  background-color: rgb(216, 130, 99);
  position: absolute;
  bottom: 4px;
  right: 6px;
}